---
import { basics } from "../cv.json";

const { summary } = basics;
---

<section>
   <div class="grid grid-cols-1 p-4 text-xl">
      <div>
         <h2 class="font-bold p-4 md: text-2xl">About</h2>
      </div>

      <div
         class="m-5 border border-zinc-200 rounded"
      >
         <h2 class="p-4">{summary}</h2>
      </div>
   </div>
</section>
