---
import { basics } from "../cv.json";

---

<section>
   <div class="grid grid-cols-1 p-4 text-xl">
      <div>
         <h2 class="font-medium p-4 md: text-2xl">Experience</h2>
      </div>

      <div>
         <h2 class="p-4">experience</h2>
      </div>
   </div>
</section>