---
import { skills } from "../cv.json";
import SkillsCard from "./SkillsCard.astro";
---

<section>
   <div class="grid grid-cols-1 p-4 text-xl">
      <div>
         <h2 class="font-bold p-4 md: text-2xl">Skills</h2>
      </div>

      <div class="p-4 flex flex-wrap justify-normal gap-2">
         {
            skills.map((skill) => {
               return <SkillsCard name={skill.name} />;
            })
         }
      </div>
   </div>
</section>
